#toggle-bck{
    width:48px;
    height:24px;
    background:rgba(128,128,128,1); /* switch between green(76,175,80) and gray(128,128,128) */
    border-radius: 15px 15px 15px 15px / 15px 15px 15px 15px; /* top-left top-right bottom-right bottom-left / top-left top-right bottom-right bottom-left*/
}
#toggle-bck #toggle-btn{
    display:inline-block;
    margin-top:1px;
    margin-left:2px; /* switch between 24 and 2 */
    width:22px;
    height:22px;
    background:rgba(255,255,255,1);
    border-radius: 15px 15px 15px 15px / 15px 15px 15px 15px; /* top-left top-right bottom-right bottom-left / top-left top-right bottom-right bottom-left*/
}
